<main id="main" class="main">
   
   <div class="container pt-5">
      <div class="row mb-5">
         <a onclick="addcoupons()" data-bs-toggle="modal" data-bs-target="#verticalycentered" class="btn btn-success ms-auto w-auto">Add Coupens</a>
      </div>

      <table class="table mt-5" id="table_id">
         <thead>
            <tr>
               <th scope="col">No</th>
               <th scope="col">Name</th>
                <th scope="col">Offer</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody class="bg-light">
             {{#each data as |item i|}}
               <tr valign="middle" class="bg-light" id="{{this._id}}">
                  <td class="bg-light">{{inc @i}}</td>
                  <td>{{this.coupon}}</td>
                  <td>{{this.offerpercentage}}%</td>
                  <td>
                     <a onclick="getCouponDetails('{{this._id}}')" class="me-5"><img style="width: 2em;" src="/images/pen.png" alt=""></a>
                     <a
                        onclick="deletecoupon('{{this._id}}')"
                        class=""
                     ><img style="width:3em" src="/images/trash.png" alt=""></a>
                  </td>
               </tr>
            {{/each}}
         </tbody>
      </table>
   </div>

   <!-- Button trigger modal -->

   
    <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Coupon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="create-coupon">
                    <div class="col-md-12">
                    <input type="text" class="form-control" name="coupon" placeholder="Coupen Name">
                    </div>
                    <div class="col-md-12">
                    <input type="number" class="form-control" name="offerper" placeholder="Offer Percentage">
                    </div>
                    
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
              </form><!-- End No Labels Form -->
            </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal-->

    <div class="modal fade" id="edit-coupon" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Coupon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="editcoupon">
                    <div class="col-md-12">
                    <input type="text" class="form-control" hidden  id="couponid" name="couponId"  placeholder="Coupen Name">
                    </div>
                    <div class="col-md-12">
                    <input type="text" class="form-control"  id="couponname" name="coupon" placeholder="Coupen Name">
                    </div>
                    <div class="col-md-12">
                    <input type="number" class="form-control" id="couponoffer" name="offerper" placeholder="Offer Percentage">
                    </div>
                    
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
              </form><!-- End No Labels Form -->
            </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal-->

<script>

    $( function () { $('#table_id').DataTable(); } );

    $('#create-coupon').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/admin/create-coupon',
            type:'post',
            data:$('#create-coupon').serialize(),
            success:(response)=>{
                location.reload()
            },
			error:(response)=>{
				location.href = '/admin/error'
			}

        })
    })

    $('#editcoupon').submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/admin/edit-coupon',
            type:'post',
            data:$('#editcoupon').serialize(),
            success:(response)=>{
                location.reload()
            },
			error:(response)=>{
				location.href = '/admin/error'
			}

        })
    })

    function deletecoupon(couponId){
        if(confirm('Are you sure you want to delete this coupond?')){
            $.ajax({
            url:'/admin/delete-coupon',
            type:'delete',
            data:{
                couponId:couponId
            },
            success:(response)=>{
                document.getElementById(couponId).style.display = 'none'
                
            },
			error:(response)=>{
				location.href = '/admin/error'
			}

        })
        }else{

        }
        
    }



    function getCouponDetails(couponId){
        
        $.ajax({
            url:'/admin/getOneCoupon',
            type:'post',
            data:{
                couponId:couponId
            },
            success:(response)=>{
                $('#couponid').val(response._id)
                $('#couponname').val(response.coupon)
                $('#couponoffer').val(response.offerpercentage)
                $('#edit-coupon').modal('show')
            },
			error:(response)=>{
				location.href = '/admin/error'
			}

        })
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>